img		{	margin:5px;
			
			
		}

.float-right	{	
			float:		right; 
			
		}

.float-left	{	
			float:		left; 
			
		}

.clear-right	{

			clear:		right; 
			
		}

.clear-left	{

			clear:		left; 
			
		}

.clear-both	{

			clear:		both; 
			
		}